/* RESET STYLE */
:root {
    font-family: "Whitney", ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
    font-size: 25px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVBAR STYLE */
header {
    background-color: aqua;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#navBar {
    display: flex;
    min-height: 100px;
    justify-content: center;
    align-items: center;
}

.navigation {
    border: 3px dashed black;
    padding: 5px 5px;
}

.logo {
    flex-basis: 25%;

    /* DEBUG */
    background-color: orange;
}

.login {
    flex-basis: 25%;
    text-align: right;

    /* DEBUG */
    background-color: orange;
}

.link {
    flex-basis: 50%;
    text-align: center;

    /* DEBUG */
    background-color: orange;
}

/* HERO STYLE */
.hero-container {
    background-color: darkblue;
}

.hero-container>.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#hero {
    margin: 50px 50px;
    flex-basis: 100%;
    height: 500px;

    /* DEBUG */
    background-color: palevioletred;
    border: 3px dashed black;
}

/* MAIN STYLE */
main .container{
    display: flex;
    margin: 50px auto;
    justify-content: center;
}

.image-box {
    flex-basis: 75%;
    width: 750px;
    height: 500px;


    /* DEBUG */
    background-color: blue;
    border: 3px dashed black;
}

.text-box {
    flex-basis: 25%;
    height: 500px;

    /* DEBUG */
    background-color: pink;
    border: 3px dashed black;
}

.text-box-middle {
    flex-basis: 25%;
    height: 500px;
    order: -1;

    /* DEBUG */
    background-color: pink;
    border: 3px dashed black;
}

.image-box-foot{
    width: 100%;
    height: 900px;

     /* DEBUG */
     background-color: green;
     border: 3px dashed black;
}

.placeholder, main .container{
    padding: 5px;
}

.placeholder{
    background-color: rgb(223, 223, 223);
}

/* FOOTER STYLE */
footer{
    background-color: rgb(75, 75, 75);
}

footer > .container{
    display: flex;
    padding: 50px 0;
    
}

.socials{
    flex-basis: 25%;
    height: 750px;

    /* DEBUG */
    background-color: pink;
    border: 3px dashed black;
}

.about{
    flex-basis: 75%;
    height: 750px;
    display: flex;

     /* DEBUG */
     background-color: blue;
     border: 3px dashed black;
}

.info{
    flex-basis: 33%;
    height: 750px;

    /* DEBUG */
    background-color: transparent;
    border: 2px dashed white;
}

.nav-footer{
    flex-basis: 100%;
    min-height: 100px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.nav-footer button{
    margin: 20px 0;
    font-size: 30px;

    /* DEBUG */
    border: 2px dashed black;
    background-color: pink;
    
}