/* RESET STYLE */
:root {
    font-family: "Whitney", ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
    font-size: 25px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVBAR STYLE */
.nav-container {
    background-color: aqua;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#navBar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.navigation {
    border: 3px dashed black;
    padding: 5px 5px;
}

.logo {
    flex-basis: 25%;
    
    /* DEBUG */
    background-color: orange;
}

.login {
    flex-basis: 25%;
    text-align: right;

     /* DEBUG */
     background-color: orange;
}

.link {
    flex-basis: 50%;
    text-align: center;

     /* DEBUG */
     background-color: orange;
}

/* HERO STYLE */
.hero-container {
    background-color: darkblue;
}

.hero-container>.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#hero {
    margin: 50px 50px;
    width: 1000px;
    height: 500px;

    /* DEBUG */
    background-color: palevioletred;
    border: 3px dashed black;
}

/* MAIN STYLE */
.main-container .container {
    display: flex;
    margin: 50px auto;
    justify-content: center;
}

.blue-box {
    flex-basis: 75%;
    width: 750px;
    height: 500px;
    

    /* DEBUG */
    background-color: blue;
    border: 3px dashed black;
}

.pink-box {
    flex-basis: 25%;
    width: 250px;
    height: 500px;

     /* DEBUG */
     background-color:pink;
     border: 3px dashed black;
}

.main-container > div:nth-child(2){
    background-color: gray;
}
