/* RESET STYLE */
:root {
    font-family: "Whitney", ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
    font-size: 25px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVBAR STYLE */
.nav-container {
    background-color: aqua;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#navBar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.navigation {
    border: 3px dashed black;
    padding: 5px 5px;
}

.logo {
    flex-basis: 25%;
}

.login {
    flex-basis: 25%;
    text-align: right;
}

.link {
    flex-basis: 50%;
    text-align: center;
}

/* HERO STYLE */
.hero-container {
    background-color: darkblue;
}

.hero-container>.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#hero {
    margin: 50px 50px;
    width: 1000px;
    height: 500px;
    background-color: palevioletred;
    border: 3px dashed black;
}